<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header">Login</div>
    <div class="card-body">
      <div class="form-group" [ngClass]="{'error':!isUserIDValid()}">
        <div class="form-label-group">
          <input id="userID" class="form-control" placeholder="User ID" required="required" [(ngModel)]="_userID"
            autofocus="autofocus">
          <label for="userID">User ID</label>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'error':!isPasswordValid()}">
        <div class="form-label-group">
          <input type="password" id="password" class="form-control" placeholder="Password" required="required"
            [(ngModel)]="_password">
          <label for="inputPassword">Password</label>
        </div>
      </div>
      <button class="btn btn-success btn-block" (click)="login()">Login</button>
    </div>
  </div>
</div>