<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a [routerLink]='["/home"]'><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a [routerLink]='[]'><i class="fa fa-wrench fa-fw"></i> Manage<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a [routerLink]='["/manage-customer"]'><i class="fa fa-user-md fa-fw"></i> Customers</a>
                    </li>
                    <li>
                        <a [routerLink]='["/manage-fish"]'><i class="fa fa-rocket fa-fw"></i> Fish</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a [routerLink]='[]'><i class="fa fa-plus fa-fw"></i> New<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a [routerLink]='["/new-invoice"]'><i class="fa fa-envelope-o fa-fw"></i> Invoice</a>
                    </li>
                    <li>
                        <a [routerLink]='["/new-cash-voucher"]'><i class="fa fa-dollar fa-fw"></i> Cash Voucher</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                    <a [routerLink]='[]'><i class="fa fa-th-list fa-fw"></i> List<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a [routerLink]='["/list-invoice"]'><i class="fa fa-envelope-o fa-fw"></i> Invoice</a>
                        </li>
                        <li>
                            <a [routerLink]='["/list-cash-voucher"]'><i class="fa fa-dollar fa-fw"></i> Cash Voucher</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->