<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" [routerLink]='["/home"]'>KLD Fish Stall Accounts.</a>
</div>
<!-- /.navbar-header -->

<ul class="nav navbar-top-links navbar-right">
    <li><a [routerLink]='["/profile"]'><i class="fa fa-user fa-fw"></i> Admin</a></li>
    <li><a [routerLink]='["/logout"]'><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
</ul>
<!-- /.navbar-top-links -->